html, body {
  width: 100%;
  height: 100%;
}

.slide {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2em;
  background: #fff;
  padding: 0 1.5em;

  .header {
    position: relative;
    background: $headerBackground;
    border-bottom: 0.2em solid $headerBorderColor;
    padding: 0.25em 0;
    margin-bottom: 1em;
    margin-left: -1.5em;
    padding-left: 1.5em;
    margin-right: -1.5em;
    padding-right: 12em;
  }

  h1 {
    color: $titleTopTextColor;
    font-size: 2.5em;
    position: relative;
    top: auto;
    padding: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  h2 {
    color: $headerTextColor;
    font-size: 2em;
    padding: 0;
    margin: 0;
    border: 0;
  }

  h2:after {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;

    right: 0.75em;
    width: 1.5em;
    height: 1.2em;
    content: " ";
    background-image: $headerLogo;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 1.1em;
  }

  h2.simple {
    background-image: none;
    padding-right: 2em;
  }

  h3 {
    color: $primaryColor;
    font-size: 1.3em;
  }

  ul, ol {
    margin: 0 0 1em 1em;
    padding: 0;
  }

  pre {
    border-color: #ccc;
    font-size: 0.8em;
    padding: 0;
  }

  code {
    color: #888;
  }

  blockquote {
    font-size: 2em;
    font-style: italic;
    padding: 0.5em;
    padding-left: 1em;
    color: #000;
    border-left: 5px solid $blockquoteBorderColor;

    p {
      font-size: inherit;
    }
  }

  p {
    margin: 0;
  }

  blockquote cite {
    font-size: .5em;
    font-style: normal;
    font-weight: bold;
    color: $blockquoteCizeTextColor;
  }

  ::-moz-selection {
    background: #c00;
    color: #fff;
  }
  ::selection {
    background: #c00;
    color: #fff;
  }
   a, a:hover, a:focus, a:active, a:visited {
    color: $secondaryColor;
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }

  &.title {
    vertical-align: middle;
    text-align: center;
    padding: 0;

    div.logo {
      position: relative;
      background-color: #fff;
      height: 25%;
      padding: 2em;
      border-bottom: 0.4em solid $titleSeparatorColor;
    }

    div.logo img {
      height: 3em;
    }

    div.content {
      background-color: $titleBottomBackgroundColor;
      color: $titleBottomTextColor;
      padding-top: 2em;

      h1 {
        color: $titleBottomTextColor;
      }
    }

    div.content img {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  &.end {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
  }

  .conclusion {
    font-size: 2em;
    font-weight: bold;
    color: $secondaryColor;
    text-align: center;
    margin-top: 1em;
  }

  &.eco-system {
    .row {
      margin-bottom: 1em;
    }

    .tool {
      display: table;
      text-align: center;

      div.logo {
        display: table-cell;
        height: 9em;
        vertical-align: middle;

        a {
          img {
            max-height: 6em;
            max-width: 6em;
            margin: auto;
            display: block;
          }
        }

        a:after {
          display: block;
        }
      }


      div.description {
        display: table-row;
      }
    }
  }
}
