$w11k_red: #9a0510;

$primaryColor: $w11k_red !default;
$secondaryColor: #111 !default;

$titleTopTextColor: $primaryColor !default;
$titleTopBackgroundColor: transparent !default;
$titleSeparatorColor: transparent !default;
$titleBottomTextColor: $secondaryColor !default;
$titleBottomBackgroundColor: transparent !default;

$headerBackground: $primaryColor !default;
$headerTextColor: white !default;
$headerBorderColor: $secondaryColor !default;
$headerLogo: none !default;

$blockquoteBorderColor: #999 !default;
$blockquoteCizeTextColor: #999 !default;

$lineColor: #EAEAEA !default;
