@w11k-slides-color-1: @theCodeCampus_orange;
@w11k-slides-color-2: #111;

/* * * * * * * * * * * * * * * * * * * *
 * Slides
 * * * * * * * * * * * * * * * * * * * */

@w11k-slides-title-top-text-color: @w11k-slides-color-1;
@w11k-slides-title-top-background: transparent;
@w11k-slides-title-separator-color: darken(@w11k-slides-color-1, 8%);
@w11k-slides-title-bottom-text-color: @w11k-slides-color-2;
@w11k-slides-title-bottom-background: transparent;

@w11k-slides-slide-regular-header-background: @w11k-slides-color-1;
@w11k-slides-slide-regular-header-text-color: white;
@w11k-slides-slide-regular-header-border-color: darken(@w11k-slides-color-1, 8%);
@w11k-slides-slide-regular-header-logo: none;

@w11k-slides-blockquote-border-color: #999;
@w11k-slides-blockquote-cize-text-color: #999;

/* * * * * * * * * * * * * * * * * * * *
 * Open Once
 * * * * * * * * * * * * * * * * * * * */

@w11k-openOnce-example-shown-text-color: #ccc;

/* * * * * * * * * * * * * * * * * * * *
 * Pretty Print
 * * * * * * * * * * * * * * * * * * * */

@w11k-prettyPrint-line-color: #EAEAEA;
@w11k-prettyPrint-line-color-alternate: darken(@w11k-prettyPrint-line-color, 5%);
@w11k-prettyPrint-line-color-highlight: darken(@w11k-prettyPrint-line-color, 20%);

/* * * * * * * * * * * * * * * * * * * *
 * Corner Ribbon
 * * * * * * * * * * * * * * * * * * * */

@w11k-cornerRibbon-background-color: @w11k-slides-color-1;
@w11k-cornerRibbon-border-color: darken(@w11k-slides-color-1, 8%);
@w11k-cornerRibbon-text-color: white;
@w11k-cornerRibbon-distance: 6em;
