.w11k-footer {
  position: absolute;
  bottom: 1em;
  right: 1.5em;
  left: 1.5em;
  font-size: 0.8em;
  color: @w11k-slides-footer-text-color;

  .footer-left {
    text-align: left;
  }

  .footer-middle {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }
}
